@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/inter');

body{
    font-family: Inter;
    font-weight: bold;
    background-image: url(imagens/Imagem-plano-de-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: white;
    width: 549px;
    padding: 10px;
    top: 159px;
    left: 110px;
    border-radius: 18px;
    margin: 140px;
    margin-top: 25px;
    height: 821px;
    margin-left: 300px;
    
}
h1{
    font-size: 64px;
    font-family: Inter;
    font-weight: 700;
    line-height: 77.45px;
    letter-spacing: 0em;
    text-align: center;
    color: #4C5CFF;
}
p{
    font-family: Inter;
}
label{
    color: #4C5CFF;
    font-size: 32px;
    margin: 30px;
    line-height: 38.73px;
}

textarea{
    font-family: Inter;
}
#placeholder-text::placeholder {
    width: 327;
    height: 19;
    font-size: 16px;
    color:  #00000033;
    padding-top: 3%;
}

.name{
    padding-bottom: 6%;
}
.description{
    padding-bottom: 6%;
}
.favorito{
    padding-bottom: 4%;
}
.tittle{
    display: flex;
    font-size: 64px;
    line-height: 77.45px;
    font-family: Inter;
    color: white;
    margin-left: 700px;
    margin-bottom: 10px;
}
.esquerdo{
    font-family: Inter;
    margin-right: 13px;
    color: #FFFB62;
    font-weight: 900;
}

.boxe{
    display: flex;
}
.caixadireita{
    margin-left: 100px;
}
/* Div "Pai" dos Botões*/
.father-buttons{
    display: flex;
    flex-direction: row;
    flex-direction: nowrap;
    justify-content: flex-start;
}
/*Input Botão*/
.buttons{
    display: flex;
}
/* Botões "Sim" e "Não" */
.boolean{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    margin-top: 10px;
    margin-left: 10px;
    color: #4C5CFF;
}
#favorite:active{
    background-color: #4181FF;
}
#not-favorite:active{
    background-color: #4181FF;
}